Grid View Example/Grid View Example/Connected Services/ServiceReference1/CRUD SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Business_Logics.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business_Logics.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftestlistmodel.displayname">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="testlistmodel.displayname" nillable="true" type="tns:testlistmodel.displayname" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftestlistmodel.displayname" nillable="true" type="tns:ArrayOftestlistmodel.displayname" />
  <xs:complexType name="testlistmodel.displayname">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="testlistmodel.displayname" nillable="true" type="tns:testlistmodel.displayname" />
</xs:schema>